#custom-main {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#custom-main img {
	padding-left: 0;
	max-width: 300px;
	height: auto;
}

#alerts {
	margin-top: 5px;
}

.news-boxes {
	margin-top: 0;
}

#block-container {
	height: 200px;
	margin-bottom: 75px;
}

#block-updates {
	height: 150px;
	overflow-y: scroll;
	overflow-x: hidden;
}