#custom-main {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#custom-main img {
	padding-left: 0;
	max-width: 300px;
	height: auto;
}

#alerts {
	margin-top: 0;
	padding-top: 25px;
}

.news-boxes {
	margin-top: 25px;
}

#block-container {
	height: 200px;
	position: fixed;
	bottom: 0;
	margin-bottom: 75px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#block {
	position: absolute;
}