@charset "UTF-8";
/* CSS Document */

#custom-main {
	width: 100%;
	padding-top: 50px;
	margin: 0 auto;
}

#custom-main img {
	min-width: 200px;
	height: auto;
}

img {
	width: 100%;
	height: auto;
}

.boxes {
	margin-left: 20px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
}

.news-boxes {
	width: 100%;
	height: auto;
	min-height: 4.5em;
	margin-top: 50px;
	padding-top: 30px;
	border-bottom: 1px solid #222;
}