@charset "UTF-8";
/* CSS Document */

#custom-main {
	width: 100%;
	padding-bottom: 0;
	margin-bottom: 0;
}

#custom-main img {
	max-width: 250px;
	height: auto;
}

.boxes {
	margin-left: 20px;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
}

.news-boxes {
	width: 100%;
	height: auto;
	min-height: 4.5em;
	margin-top: 50px;
	padding-top: 50px;
	border-bottom: 1px solid #222;
}

.content-text {
	color: white !important;
	font-size: 0.7em;
}