@charset "UTF-8";
/* CSS Document */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* ------------------------------ HOME PAGE  ------------------------------ */
/* ======================================================================== */
#home {
	background-color: #d94949;
	/*alternate*/
	/*background-color: #084387;*/
}

#custom-header {
	color: white;
	height: 5em;
	/*position: fixed;*/
	/*background-color: black;*/
	/*width: 100%;*/
}
/*
#custom-header h1 {
	font-size: 12px;
	text-decoration: none;
	text-transform: none;
	text-align: center;
}

#custom-header a {
	font-size: 12px;
	text-decoration: none;
	text-transform: none;
	text-align: center;
}*/

#custom-panel {
	color: white;
	float: right;
	margin-right: 3%;
}

#custom-panel a {
	text-decoration: none;
	color: white !important;
}

#custom-main {
	width: 32%;
	padding-top: 8%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

#custom-nav-footer {
	bottom: 0;
	z-index: 9999;
	position: fixed;
	width: 100%;
}

#block-container {
	height: 33%;
	width: 100%;
	position: relative;
}

#block {
	width:100%;
	height: 3em;
	background: #d94949;
	padding: 5px;
	position:relative;
	/*margin-bottom:1em;*/
}

#block:after {
	z-index: 1;
	content:'';
	display: block;
	position: absolute;
	top:100%; /*should be set to 100% */
	left:30px;
	width:0;
	height:0;
	border-color: #d94949 transparent transparent transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 20px;
}

.title-block {
	color: black;
	text-shadow: none;
	font-size: 0.8em;
	margin-left: 10px;
}

#block-updates {
	width: 100%;
	height: auto;
	background: #414141;
	position: fixed;
}

.boxes {
	margin-left: 2%;
	font-weight: normal;
	text-decoration: none;
	text-shadow: none;
}

.news-boxes {
	width: 100%;
	height: auto;
	min-height: 4.5em;
	margin-top: 2%;
	border-bottom: 1px solid #222;
}

.icon-inner a, .icon-inner p{
	color: white !important;
	font-size: 0.8em;
	font-weight: normal;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: none;
	float: left;
	height:4em;
	width: 4em;
	text-align: center;
	/*border-bottom: 1px solid #333;*/
}

.content-title {
	color: white;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

.sub-title {
	color: white;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}

.content-text {
	color: #6b6b6b;
	font-size: 0.7em;
}

.content-link {
	color: #d94949 !important;
	font-size: 0.7em;
	margin: 0;
	padding: 0;
}

#alerts {
	margin-top: 4%;
}

/*#alerts:hover {
	border-right: 4px solid #3fbda5;
}

#updates {
	height: 4.5em;
	width: 4.5em;
	background-color: #3F3F3F;
	text-align: center;
	color: white;
	border-bottom: 1px solid #333;
}

#updates-bar:hover {
	border-right: 4px solid #3fbda5;
}

#other-bar {
	height: 4.5em;
	width: 4.5em;
	background-color: #3F3F3F;
	color: white;
	text-align: center;
}

#other-bar:hover {
	border-right: 4px solid #3fbda5;
}*/

/* General styles for all menus */
.cbp-spmenu {
    background: #333333;
    position: fixed;
    text-align: center;
    text-shadow: none;
}

.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    background: #333333;
}

.cbp-spmenu a {
    display: block;
    font-size: 0.7em;
    text-decoration: none;
    color: #6b6b6b !important;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cbp-spmenu li {
    display: block;
    list-style-type: none;
}

.cbp-spmenu a:hover {
    border-bottom: 2px solid #ff3d3d;
    color: white !important;
}

.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    /*padding: 1em;*/
}


/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
    right: -200px;
}

.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}


/* Push classes applied to the body */

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.cbp-spmenu-push-toright {
    left: 200px;
}

.cbp-spmenu-push-toleft {
    left: -200px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }

}

@media screen and (max-height: 26.375em){

    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }

    .cbp-spmenu-right {
        right: -190px;
    }

    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

/* ------------------------------ OTHER  ------------------------------ */
/* ======================================================================== */

#logo {
	width: 25%;
    margin: 0 auto;
}

#title {
	color: RGB(106, 58, 134);
	font-size: 16pt;
	text-align: center;
	font-weight: bold;
}

.eventTextbox{
	height: 45px;
}

.goButton{
	height: 22px;
	width: 60% !important;

}

#map_canvas {
    width: 500px;
    height: 500px;
    margin: 0px;
    padding: 0px;
}

.controls {
	margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
	background-color: #fff;
	padding: 0 11px 0 13px;
    width: 100%;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 100%;
}

.pac-container {
	margin-top: 20px;
	margin-left:30px;
	width: 70%;
	background: none;
	border: none;
	box-shadow: none;
	font-family: Roboto;
}

.tableHeaderRows {
	text-align: left; 
	width: 40%;
	color: #d94949;
	height: 35px;
}

.tableRows {
	height: 35px;
}

.moreInfo{
	text-align:right;
	line-height: 30px;
	margin:20px;
}

a.eventlink, a.eventlink:link, a.eventlink:visited, a.eventlink:hover, a.eventlink:focus, a.eventlink:active{
	color: #d94949 !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal !important;
}

#explore .star{
  width: 60px;
  height: 16px;
  display: block;
  background: url('http://www.itsalif.info/blogfiles/rating/star-rating.png') 0 0 no-repeat;
}

#explore .rating-50 { background-position: 0 0; }
#explore .rating-40 { background-position: -12px 0; } 
#explore .rating-30 { background-position: -24px 0; }
#explore .rating-20 { background-position: -36px 0; }
#explore .rating-10 { background-position: -48px 0; }
#explore .rating-0 { background-position: -60px 0; }
 
#explore .rating-5  { background-position: -48px -16px; }
#explore .rating-15 { background-position: -36px -16px; }
#explore .rating-25 { background-position: -24px -16px; }
#explore .rating-35 { background-position: -12px -16px; }
#explore .rating-45 { background-position: 0 -16px; }